@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;1,400&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}
html{
  
    overflow: hidden;
    
    scroll-behavior: smooth;
}
body{
    block-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overscroll-behavior: none;
    background-color: rgb(15, 15, 15);
    height: 100vh;
    color: white;
}

main{
    block-size: 100%;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100%;

    .picture{
        position: absolute;
        width: 350px;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);

        & > img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
        }
    }
    .loading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        font-size: 30px;
        z-index: 1000;
    }
    .title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 120;
        font-weight: 400;
       
        .sub{
            transform: translateX(50px);
            .line{
                background-color: white;
                width: 100px;
                height: 2px;
                position: absolute;
                top: 50%;
                left: -18%;
                z-index: 1000;
            }
           
        }
                 .text {
                     display: block;
                     font-size: 80px;
                     text-transform: uppercase;
                     font-weight: 600;
                     letter-spacing: 1.5px;
                     color: white;transform: translateX(-50px);

                 }
                 .text-1{
                    display: block;
                        font-size: 13px;
                        text-transform: capitalize;
                        letter-spacing: 0.3px;
                        color: white;
                        font-weight: 600;
                 }
    }
.bright{
    position: absolute;
    bottom: 40px;
    right: 30px;
width: 500px;
z-index: 130;
   
    h5{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-decoration: underline;
    }
    p{
        font-size: 15px;
    }
}
.bleft{
    position: absolute;
    bottom: 10px;
    left: 40px;
    width: 300px;
    z-index: 130;

    h5 {
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 7px;
            text-decoration: underline;
        }
        p{
            font-size: 13px;
            margin-bottom: 7px;
        }
        li{
            list-style-type: none;
            margin-bottom: 7px;
        }
        a{
            color: whitesmoke;
            text-decoration: none;
        }
}
.scroll{
    text-align: center;
padding-top: 10px;
    text-transform: uppercase;
}
}

// For iPhone 11 Pro Max and above (portrait mode)
@media (max-width:600px ) and (min-width: 375px) {
    // Your CSS styles for iPhone 11 Pro Max and above here...
   
    main{
     
        height: 120vh;

        .title {
            top: 40%;
        }
        .text{
            font-size: 60px !important;
        }
                .line{
                    left: -35% !important;
                    width: 80px !important;
                }
                .picture{
                    width: 200px !important;
                    top: 40%;
                    
                }
                                .bleft{
                                    bottom: 285px;
                                    ul{
                                        display: flex;
                                    }
                                    li {
                                           
                                            margin-right: 3px;
                                        }
                                }
                                    .bright{
                                                                    width: 300px;
                                                                    bottom: 186px;
                                                                }
    }
}